<div class="jumbotron">
  <h1>Bloc It Off</h1>
  <p>Bloc It Off is a self-destructing to-do list that will help you become the most organized and productive person in the world!</p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>
